parameters:
    level: 6
    paths:
        - src
        - {{slug}}.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - vendor
        - node_modules
    checkMissingIterableValueType: false
